@import "../../scss/variables";
html {
    width: 100%;
    &::before {
        content: '';
        display: block;
        height: 5px;
        background: linear-gradient(to right, $secundary, $primary);
    }
}
