<nav id="navbar">
    <div class="container">
        <a href="#" class="brand"><img src="../images/navbar/brand.png" alt="Logo da empresa"></a>

        <div class="lista-menu">
            <a href="#" id="menu-mobile">
                <i class="fas fa-bars fa-3x"></i>
            </a>
            <ul>
                <a class="btn-close"><i class="fas fa-times fa-3x"></i></a>
                <li><a href="#"><span class="font-regular">home</span></a></li>
                <li><a href="#"><span class="font-regular">home</span></a></li>
                <li><a href="#"><span class="font-regular">home</span></a></li>
                <li><a href="#"><span class="font-regular">home</span></a></li>
                <li><a href="#"><span class="font-regular">home</span></a></li>
            </ul>
        </div>
    </div>
</nav>
