// Criação de variáveis: CORES, COR DE FONTES

//===============================================
//                                   Cores padrão
//===============================================
$primary: #F4645F;
$secundary: #F4976B;
$support: #DD745D;

$light: #EEE;

//===============================================
//                                Cores de fontes
//===============================================
$colors: (
    black: #000,
    white: #FFF,
    graphite: #333
)
